#include "zen.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/* スニペット側で定義されているリスナーの処理を完全に上書き・再定義 */
&pointing_listener {
    /* 1. 標準状態（全レイヤー共通のベース）では移動量を 0（無効）に設定 */
    input-processors = <&zip_xy_scaler 0 1>;

    /* 2. レイヤー 2 に切り替わった時だけトラックボール入力を許可 */
    enable_trackball_layer {
        layers = <2>;
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>;
    };

    /* 3. スニペット側が生成する自動レイヤー切替ノード（scroller等）の処理を空振りさせる */
    /delete-node/ scroller;
    /delete-node/ auto_layer;
};

&zen_transform {
    col-offset = <7>;
};
