#include "zen.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/* 既存の pointing_listener を一度完全に空にして再定義します */
&pointing_listener {
    /* デフォルト（レイヤー 0 など）は移動量を 0 にして無効化 */
    input-processors = <&zip_xy_scaler 0 1>;

    /* 自動レイヤー切替（scrollerノード等）を消去し、レイヤー 2 のみ有効化 */
    enable_trackball_layer {
        layers = <2>;
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
    };
};

&zen_transform {
    col-offset = <7>;
};
